################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Təmirçi/Tamirci/.vs/Tamirci/CopilotIndices/17.12.53.23981
